<form class="panel panel-default" ng-submit="$ctrl.submit()" name="$ctrl.detailsForm">
    <div class="panel-heading">
        <button class="btn btn-default" ng-click="$ctrl.toggleEdit()">
            <span class="glyphicon glyphicon-edit"></span>
            Edit
        </button>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label>
                Name:
            </label> {{$ctrl.dish.name}}
            <input type="text" class="form-control" ng-model="$ctrl.dish.name" ng-if="$ctrl.edit" name="name">
        </div>
        <div class="form-group">
            <label>
                Price:
            </label> ${{$ctrl.dish.price}}
            <input type="text" class="form-control" ng-model="$ctrl.dish.price" ng-if="$ctrl.edit" name="price">
        </div>
        <div class="form-group">
            <label>
                Description:
            </label> {{$ctrl.dish.description}}
            <textarea ng-model="$ctrl.dish.description" rows="10" class="form-control" ng-if="$ctrl.edit" name="description"></textarea>
        </div>
        <div class="form-group">
            <img ng-src="{{$ctrl.dish.imageUrl}}" alt="$ctrl.dish.name" class="img-responsive admin-dish-img">
            <label>URL:</label> {{$ctrl.dish.imageUrl}}
            <input type="text" ng-model="$ctrl.dish.imageUrl" class="form-control" ng-if="$ctrl.edit" name="imageUrl">
        </div>
        <div class="form-group">
            <ingredients-select ng-model="$ctrl.dish.ingredients" name="ingredients"></ingredients-select>
        </div>
        <div class="form-group">
            <label>Date:</label> {{$ctrl.dish.date | date : 'HH:mm:ss, dd.MM.yyyy' }}
            <input type="text" class="form-control" ng-model="$ctrl.dish.date" ng-if="$ctrl.edit" name="date">
        </div>
    </div>
    <div class="panel-footer">
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>