<table class="table table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Price
            </th>
            <th>
                Ingredients
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(id,item) in $ctrl.list track by $index" dishes-item="item" id="id" index="$index">
        </tr>
    </tbody>
</table>