<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <img ng-src="{{$ctrl.dish.imageUrl}}" class="img-rounded img-responsive dish-preview-img" alt="{{$ctrl.dish.name}}">
                <div class="title title-sm">
                    ${{$ctrl.dish.price}}
                </div>
                <button class="btn btn-default btn-block" ng-click="$ctrl.addToCart()">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    Add to cart
                </button>
                <button class="btn btn-default btn-block" ng-click="$ctrl.removeFromCart()">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove from cart
                </button>
                <button class="btn btn-default btn-block" ui-sref="dish({id:$ctrl.id})">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Details...
                </button>
            </div>
            <div class="col-sm-9">
                <div class="title">
                    {{$ctrl.dish.name}}
                    <app-dish-cart-counter in-cart="$ctrl.inCart"></app-dish-cart-counter>
                </div>
                <ul class="dish-preview-list">
                    <li class="dish-preview-item" ng-repeat="ingredient in $ctrl.dish.ingredients">
                        {{ingredient}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>