.dish-preview {
    &-list {
        margin: 0 0 10px;
        padding: 0;
        list-style: none;
    }
    &-item {
        padding: 5px;
        color: grey;
    }
    &-img {
        padding: 2px;
        border: 1px dashed lightgrey;
        margin: 0 0 5px;
    }
}