<div class="row">
    <div class="col-xs-12">
        <a ui-sref="admin-dish-new" class="btn btn-default">Add dish</a>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(id,dish) in $ctrl.dishes" dishes-row="dish" dish-id="id" ui-sref="admin-dish({id:id})"></tr>
            </tbody>
        </table>
    </div>
</div>