.title {
    font-family: 'RiotSquad';
    font-size: 36px;
    margin-bottom: 10px;
    border-bottom: 4px double lightgrey;
    &-sm {
        font-size: 20px;
    }
    &:first-letter {
        color: green;
        font-weight: bold;
    }
}

.block {
    border-radius: 5px;
    margin: 10px 0 20px;
    padding: 10px;
    border: 1px dashed lightgrey;
}

.pointer {
    cursor: pointer;
}

.form-corner-btn {
    float: right;
    font-size: 20px;
    cursor: pointer;
}

.admin {
    &-dish {
        &-img {
            padding: 5px;
            border: 1px dashed lightgrey;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        &-ingredient {
            padding: 2px 10px;
            display: inline-block;
            margin: 3px 3px 3px 0;
            background: rgb(126, 126, 126);
            border-radius: 5px;
            color: white;
            font-weight: bold;
        }
    }
    &-nav {
        margin-bottom: 40px;
    }
}