<div class="row">
    <div class="col-xs-12">
        <div class="title">{{$ctrl.dish.name}} </div>
        <img ng-src="{{$ctrl.dish.imageUrl}}" class="img-rounded img-responsive dish-img" alt="{{$ctrl.dish.name}}">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="title title-sm">Description</div>
        <div class="block">
            {{$ctrl.dish.description}}
        </div>
    </div>
    <div class="col-sm-4">
        <div class="title title-sm">Ingredients</div>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="ingredient in $ctrl.dish.ingredients">
                {{ingredient}}
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <div class="title title-sm">Ordering</div>
        <button class="btn btn-default btn-block">
            <span class="pull-left">
                <strong>Price:</strong> ${{$ctrl.dish.price}}
            </span>
            <span class="pull-right">
                <span class="glyphicon glyphicon-shopping-cart"></span>
                Add to cart
            </span>
        </button>
    </div>
</div>